

  #name{
    color: #1CB5E0;
  }

#detail-img {
    height: 430px;
    margin: auto;
    display: inline-block;
  }

.detail {
    display: inline-block;
    width: 500px;
    height:480px;
    padding: 1em;
    border-radius: 15px;  
    margin: 10px;
    background: #ddd;
    text-align: left;
  
    &__stats {
      margin: 1em 0;
      th {
        font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
        text-align: right;
        font-weight: bold;
        color: white;
      }
      width: 100%;
      
      th, td {
        width: 50%;
        color: white;
        padding: 0.25em 0.5em 0;
      }
      
    }
   
    &__image-container {
      background-color: rgba(#000000, 0.7);
      text-align: center;
      padding: 1em 1em 0;
      
      border-radius: 3px 3px 0 0;
    }
    
    
    &--normal {
        background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);    
          box-shadow: 0px 5px 20px -10px #000851;
          
        }
    
   
    &:hover {
      z-index: 5;
      box-shadow: 0px 13px 30px -15px #000000;
      transform:translateY(-10px);
    }
    
  }

  .details{
    display: inline-block;
    width: 550px;
    // height:480px;
    padding: 1em;
    border-radius: 15px;  
    margin: 10px;
    background: #ddd;
    text-align: left;

    &--normal {
      background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);    
        box-shadow: 0px 5px 20px -10px #000851;
        
      }
  }
  
  